@import '../../style/variables';
body {
    height: 100%;
    margin:0
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
}

.bg-primary {
  background-color: $primary-color;
}
.color-white {
  color: white;
}

.themes {
 &-dark {
  background-color: black;
  color: white;
 }
 &-light {
  background-color: ghostwhite;
  color: black;
 }
}

