@import '../../style/helpers';

body {
  height: 100%;
  margin: 0
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: map-get($map: $spacers, $key: 3)
}

.App {
  &__wrapper {
    max-width: 1000px;
    margin: auto;
  }
}

.bg-primary {
  background-color: $primary-color;
}

.color-white {
  color: white;
}

.themes {
  &-dark {
    background-color: black;
    color: white;
  }

  &-light {
    background-color: ghostwhite;
    color: black;
  }
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
}

.text {
  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }
}
/// fix autoZoom of iOS devices
select,
select:focus,
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}